@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  @include flexbox.flexbox(center space-between);
  position: relative;
  box-sizing: content-box;
  width: 400px;
  height: 40px;
  padding: 5px 4px;
  background-color: #d3d3d3;
  border-radius: 50px;

  button {
    z-index: 100;
    width: 50%;
    font-size: 1.1rem;
    font-weight: 700;
    color: colors.$GRAY6;
    background-color: rgba(0, 0, 0, 0%);

    &.toggled {
      color: colors.$GRAY3;
    }
  }

  .toggleSelector {
    position: absolute;
    left: 1%;
    width: 49%;
    height: 90%;
    background-color: colors.$WHITE;
    border-radius: 50px;
    transition: all 0.2s ease-out;

    &.toggled {
      transform: translate(100%, 0);
    }
  }
}
